/* CSS Document */

body{
	margin:0px;
	padding:0px;
	background:url(../images/img_bodybg.gif) 0 0 repeat-x;
}
img{
	border:none;	
}
#outercontainer{
	overflow:hidden;
	height:auto;
	border-top:#e6e3db 1px solid;
	border-left:#e6e3db 1px solid;
	border-right:#e6e3db 1px solid; 
}
#mainwrapper{
	width:959px;
	margin:auto;
	overflow:hidden;
	height:auto;
	background:url(../images/ing_logobg.gif) 0 0 no-repeat;
}
.logo{
	position:absolute;
	left:50%;
	margin:25px 0 0 -460px;
	display:inline;
	overflow:hidden;
	z-index:100;
	background:url(../images/mtq_logo.gif) 0 0 no-repeat;
}
.logo a{
	display:block;
	width:220px;
	height:45px;
}
.headtopright_div{
	width:220px;
	margin:auto;	
}
.banner_div{
	float:left;
	width:959px;
	margin-top:25px;
	z-index:1;	
}
.calltollfree_div{
	background:url(../images/img_call_toll_free.gif) 0 0 no-repeat;
	width:220px;
	height:72px;
}
.mail_div{
	background:url(../images/btn_mail.gif) 0 0 no-repeat;
	width:220px;
	height:45px;
}
.rfq_div{
	background:url(../images/btn_free_rq.gif) 0 0 no-repeat;
	width:220px;
	height:37px;
}
.mail_div a{
	display:block;
	width:220px;
	height:45px;
}
.request_quote_div{
	width:228px;
	height:380px;
	position:absolute;
	left:50%;
	z-index:50;
	margin-left:236px;
	display:inline;
	border-left:#d0d5d8 4px solid;
	border-right:#d0d5d8 4px solid;
	background:#f3f3f3 url(../images/img_rqbg.gif) 0 0 repeat-x;	
}
.rq_curvebtm{
	background:url(../images/img_curve_rqbtm.gif) center bottom no-repeat;
	height:64px;
	width:236px;
	position:absolute;
	left:50%;
	margin:0 0 0 -118px;
	display:inline;
}
.content_container{
	width:687px;
	float:left;
	margin-left:12px;
	margin-top:25px;
	display:inline;	
}
.content_txt_div{
	background:url(../images/img_headng_smartphone.gif) 0 0 no-repeat;
	padding-top:65px;
	padding-right:18px;
}
.subheadngbg_div{
	background:url(../images/img_subheadng_smartphone.gif) 0 0 no-repeat;
	padding-top:30px;
	margin-top:30px;	
	width:687px;
	background-color:#0F0 1px solid;
}
.iphone_div{
	width:217px;
	padding-top:114px;
	float:left;
	margin-right:7px;
	display:inline;
	background:url(../images/img_iPhone_app_dev.gif) 0 0 no-repeat;
	overflow:hidden

}
.iphone_div #link{
	width:207px;
	height:94px;
	float:left;
	margin-left:5px;
	margin-top:-106px;
	}
.iphone_div a#link{
	width:205px;
	height:94px;
	position:absolute;
	}
.blackberry_div{
	width:217px;
	float:left;
	margin-right:7px;
	display:inline;
	background:url(../images/img_blackberry_app_dev.gif) 0 0 no-repeat;
	padding-top:114px;
	overflow:hidden;	
}
.blackberry_div #link{
	width:207px;
	height:94px;
	float:left;
	margin-left:5px;
	margin-top:-106px;
	
	}
.blackberry_div #link a{
	width:205px;
	height:94px;
	}

.android_div{
	width:217px;
	float:left;
	margin-right:7px;
	display:inline;
	background:url(../images/img_android_app_dev.gif) 0 0 no-repeat;
	padding-top:114px;
	overflow:hidden;	
}
.android_div #link{
	width:207px;
	height:94px;
	float:left;
	margin-left:5px;
	margin-top:-106px;
	}
.android_div a#link{
	width:205px;
	height:94px;
	position:absolute;
	}
.appbg{
	background:url(../images/img_smart_app_dev.gif) 0 0 repeat-x;
	border-left:#cecece 1px solid;
	border-right:#cecece 1px solid;
}
.app_div{
	width:195px;
	margin:auto;	
}
.app_div ul, li{
	margin:0px;
	padding:0px;
	list-style:none;
}
.app_div ul li{
	background:url(../images/img_bullet_arrw.gif) 0 3px no-repeat;
	padding-left:12px;
	color:#555657;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;	
}
.divider_li{
	background:url(../images/img_divider_s.gif) center 5px repeat-x;
	height:12px;
	overflow:hidden;
}
.curvebtm_div{
	background:url(../images/img_curv_btm.gif) 0 0 no-repeat;
	height:14px;	
	overflow:hidden;
}
#leftpanel{
	 width:257px;
	 float:left;
	 background:url(../images/img_leftpanelbg.gif) 0 0 no-repeat;
	 padding-top:25px;
}
.netsmartz_new_div{
	background:url(../images/img_netsmartz_n.gif) left 10px no-repeat;
	width:225px;
	height:290px;
}
.certification_div{
	background:url(../images/img_headng_certification.gif) 0 0 no-repeat;
	padding-top:30px;
}
.certi_div{
	background:url(../images/img_certificate.gif) center 15px no-repeat;
	border:#e8e8e8 1px solid;
	height:395px;
}
.netsmartz_devhub_div{
	width:213px;
	height:304px;
	background:url(../images/img_netsmartz_dev_hub.gif) 0 0 no-repeat;
	margin-top:12px;
}
.footer{
	background-color:#000;
	width:100%;
}
.footer_div{
	width:900px;
	margin:auto;
}
.footer_link_div{
	width:640px;
	float:left;
	margin-top:15px;
}
.bdrbottom{
	border-bottom:#272727 1px solid	
}
.didyouknow_div{
	background:url(../images/img_did_you_know.gif) 0 0 no-repeat;	
	padding-top:31px;
	width:305px;
}
.didyouknow_div ul,li{
	margin:0px;
	padding:0px;
	list-style:none;
}
.didyouknow_div ul li{
	background:url(../images/img_bullet_red.gif) 0 0 no-repeat;
	padding-left:12px;
	
	padding-top:2px;
	padding-bottom:2px;
}

/*IMAGE ROTATER*/
#mainRotator{
	height: 350px; 
	width:959px; 
	overflow: hidden;
}
.javelin_portfolioList{
	width:959px;
	overflow:hidden;
	height:350px;
}
.javelin_portfolioList ul,li{
	margin:0px;
	padding:0px;
	list-style:none;
}

.thank_txt_div{
	background:url(../images/img_thanku.gif) 0 0 no-repeat;
	padding-top:45px;	
}
/*9april2010*/
.mobilemarket{
	background:url(../images/img_marketmobilebanner.jpg) no-repeat;
	width:660px;
	height:391px;
	margin-top:20px;
	float:left;
	margin-bottom:20px;
}

.mobilemarket a{
	position:absolute;
	width:660px;
	height:391px;
	}
.mobilemarket_div{
	background:url(../images/img_mbanner.jpg) left 10px no-repeat;
	width:225px;
	height:250px;
	margin-bottom:10px;
}	
.mobilemarket_div a{
	width:225px;
	height:250px;
	position:absolute;
}
/*21012011*/
.facebook_div{
	background:url(../images/img_facebook.gif) no-repeat;
	width:215px;
	float:left;
	margin-top:10px;
	height:53px;
}
.facebook_div a {
	position:absolute;	
	width:215px;
	height:53px;
}