/* CSS Document */

.arial10n000{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	font-stretch:normal;
	font-style:normal;
	color:#000;
	text-decoration:none;
}
.arial10ndf1717{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	font-stretch:normal;
	font-style:normal;
	color:#df1717;
	text-decoration:none;
}
.arial12n333{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	font-stretch:normal;
	font-style:normal;
	color:#333;
	text-decoration:none;
}
.inputtype{
	width:134px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	font-stretch:normal;
	font-style:normal;
	color:#333;
	text-decoration:none;
	border:#d1d1d1 1px solid;
}
.select_optn{
	width:134px;
	height:60px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	font-stretch:normal;
	font-style:normal;
	color:#333;
	text-decoration:none;
	border:#d1d1d1 1px solid;
}
.arial13nad1821{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	font-stretch:normal;
	font-style:normal;
	color:#ad1821;
	text-decoration:none;
}
a.arial13nad1821{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	font-stretch:normal;
	font-style:normal;
	color:#ad1821;
	text-decoration:underline;
}
a.arial13nad1821:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	font-stretch:normal;
	font-style:normal;
	color:#ad1821;
	text-decoration:none;
}
.arial13n2a2a2a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	font-stretch:normal;
	font-style:normal;
	color:#2a2a2a;
	text-decoration:none;
}
.arial13nfff{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
	text-decoration:none;
	font-weight:normal;
}
a.arial13nfff{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
	text-decoration:none;
	font-weight:normal;
}
a.arial13nfff:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#CCC;
	text-decoration:none;
	font-weight:normal;
}
.arial12n303030{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#303030;
	text-decoration:none;	
}
.arial11n555657{
	color:#555657;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	font-weight:normal;		
}
.arial18n000{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:normal;
	font-stretch:normal;
	font-style:normal;
	color:#000;
	text-decoration:none;
}
.arial22nad1821{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:normal;
	font-stretch:normal;
	font-style:normal;
	color:#ad1821;
	text-decoration:none;
}
.arial13bad1821{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	font-stretch:normal;
	font-style:normal;
	color:#ad1821;
	line-height:25px;
	text-decoration:none;
}
.arial12B303030{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#303030;
	line-height:24px;
	text-decoration:underline;	
}
a.arial12B303030:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#303030;
	line-height:24px;
	text-decoration:none;	
}