/* Style sheet styles */

/* general */

* {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	/*font-family: "Lucida Grande", Lucida, Arial, sans-serif;*/
	font-weight: normal;
	font-size: 12px;
	color: #828282;
	line-height: 15px;
}

a img,
img {
	border: none;
}

body {
	text-align: left;
	background: #d1d1d1 url(bg-main.png) repeat-y center;
}

/* container styles */
#wrapper {
	width: 920px;
	background: url(bg-main.png) repeat-y 1px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}



#header {
	float: left;
	display: block;
	width: 820px;
	height: 135px;
	margin-left: 40px;
	padding-bottom: 40px;
}

#header a.logo {
	float: left;
	margin-top: 71px;
	margin-right: 20px;
	display: block;
}

#header div.mod_article.block,
#header div.mod_randomImage.block {
	float: left;
	width: 580px;
	display: block;
}

#container {
	clear: both;
}

#left {
	width: 240px;
	margin-left: 40px;
	padding-top: 39px;
}

#main {
	float: left;
	position: relative;
	width: 580px;
}

#main .mod_article {
	/*border-top: 1px solid #adb1b3;*/
	border-bottom: 1px solid #adb1b3;
	clear: both;
}

#main .mod_article .border_bottom_no {
	border-bottom: none;
}

#main .mod_article .ce_headline {
	/*border-top: 1px solid #adb1b3;*/
	padding-right: 100px;
}

#main .mod_article.home .ce_headline {
	padding-right: 0px;
}

#main .mod_article .ce_text,
#main .mod_article .ce_image,
#main .mod_article .ce_form {
	margin-left: 30px;
	padding-top: 18px;
	border-top: 1px solid #adb1b3;
	padding-bottom: 8px;
}

#main .mod_article .ce_gallery,
#main .mod_article .ce_imageflow {
	margin-left: 30px;
}

#main .mod_article .border_top_no {
	padding-top: 18px;
	border-top: none;
	padding-bottom: 12px;
}

#main table {
	width: 550px;
}

#main table td {
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
}

#main table td.topics {
	border-bottom: 1px solid #adb1b3;
}

#main table td.lessons {
	width: 100px;
	text-align: right;
	border-bottom: 1px solid #adb1b3;
}

#main table td.date {
	padding-top: 0px;
	width: 70px;
}

#main table td.day {
	padding-top: 0px;
	width: 40px;
}

#main table td.time {
	padding-top: 0px;
	width: 100px;
}

#main table td.content {
	padding-top: 0px;
}

#main table td.head {
	color: #adb1b3;
	font-weight: bold;
}

#main table.learning td {
	padding-right: 20px;
}

#main table.learning td.width-100 {
	width: 70px;	
}

#main table.learning td.width-160 {
	width: 160px;	
}

#main table.learning td.width-280 {
	width: 280px;	
}

#main table.learning td.last {
	padding-right: 0px;
}

#main table.learning td.arrow-1 {
	padding-top: 10px;
	background: url(arrow-1.gif) no-repeat right top;
}

#main table.learning td.arrow-1-padding {
	padding-top: 10px;
	background: url(arrow-1-padding.gif) no-repeat right top;
}

#main table.learning td.arrow-2 {
	padding-top: 10px;
	background: url(arrow-2.gif) no-repeat right top;
}


#main .formbody fieldset {
	border: none;
}

#main .formbody label {
	float: left;
	display: inline-block;
	width: 220px;
}

#main .formbody .headline p {
	margin-bottom:10px;
}

#main .formbody .explanation {
	margin-top: 5px;
	margin-bottom: 15px;
}

#main .formbody .checkbox_container.brochure-checkbox label,
#main .formbody .radio_container.course-checkbox label,
#main .formbody .checkbox_container.course-checkbox label  {
	display: none;
}

#main .formbody .checkbox_container.brochure-checkbox span,
#main .formbody .checkbox_container.course-checkbox span {
	display: inline-block;
	width: 20px;
}

#main .formbody label.brochure-checkbox,
#main .formbody label.course-checkbox,
#main .formbody .brochure-checkbox legend,
#main .formbody .course-checkbox legend{
	float: right;
	display: inline-block;
	width: 520px;
}

#main .formbody input.text,
#main .formbody select.select,
#main .formbody textarea.textarea {
	float: left;
	display: inline-block;
	width: 300px;
	border: solid 1px #adb1b3;
	padding: 2px;
}

#main .formbody input.text.error {
	margin-left: 220px;
	border: solid 1px #1F5883;
}

#main .formbody p.error,
	#main .formbody label.error {
	color: #1F5883;
}

#main .formbody select.select{
	width: 300px;
}

#main .formbody .submit_container {
	padding-top: 15px;
	padding-bottom: 15px;
}

#main .formbody .submit {
	margin-left: 220px;
	display: inline-block;
	background: #fff;
	border: solid 1px #adb1b3;
	padding-left: 10px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 2px;
}

#main .formbody .submit:hover {
	color: #fff;
	/*background: #0041AD;*/
	background: #1f5883;
	cursor: pointer;
}

#main .formbody h2 {
	padding-top: 5px;	
	margin-bottom: 5px;
}

#main .formbody p {
	margin-bottom: 5px;
}

#main .formbody li {
	margin-bottom: 0px;
}

#main .formbody br {
	clear: both;
}

#main .formbody div.clear {
	clear: both;
	height: 5px;	
}

#main .g10,
#main .g9,
#main .g8,
#main .g7,
#main .g6,
#main .g5,
#main .g4,
#main .g3,
#main .g2,
#main .g1 {
	display: inline;
	float: left;
	padding-right: 20px;
}

#main .g10 {
	width: 580px;
}

#main .g9 {
	width: 520px;
}

#main .g8 {
	width: 460px;
}

#main .g7 {
	width: 400px;
}

#main .g6 {
	width: 340px;
}

#main .g5 {
	width: 250px;
}

#main .g4 {
	width: 220px;
}

#main .g3 {
	width: 160px;
}

#main .g2 {
	width: 100px;
}

#main .g1 {
	width: 40px;
}

#main .last {
	padding-right: 0px;
}

#main .push_1 {
	padding-left: 60px;
}
#main .push_2 {
	padding-left: 120px;
}
#main .push_3 {
	padding-left: 180px;
}
#main .push_4 {
	padding-left: 240px;
}
#main .push_5 {
	padding-left: 300px;
}
#main .push_6 {
	padding-left: 360px;
}
#main .push_7 {
	padding-left: 420px;
}
#main .push_8 {
	padding-left: 480px;
}
#main .push_9 {
	padding-left: 540px;
}

#main .online_registration,
#main .online_section {
	padding-bottom: 12px;
	margin-left: 30px;
}

#main .online_section label {
	display: inline-block;
	width: 100px;
}

#main .online_section .input_text {
	display: inline-block;
	width: 214px;
	border: solid 1px #adb1b3;
	padding: 2px;
}

#main .online_section .input_button {
	display: inline-block;
	margin-left: 100px;
	background: #fff;
	border: solid 1px #adb1b3;
	padding-left: 10px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 2px;
}

#main .online_registration .submit_button {
	display: inline-block;
	background: #fff;
	border: solid 1px #adb1b3;
	padding-left: 10px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 2px;
}

#main .online_registration input.submit_button:hover,
#main .online_section input.input_button:hover {
	color: #fff;
	background: #1f5883;
	border: solid 1px #1f5883;
	cursor: pointer;
}

#main #logo-cma {
	position: absolute;
	left: 200px;
	top: -20px;
	border: none;
	margin: 0;
	padding: 0;
	width: 173px;
	height: 53px;	
}

#main #logo-garp {
	position: absolute;
	left: 200px;
	top: 0px;
	border: none;
	margin: 0;
	padding: 0;
	width: 203px;
	height: 26px;	
}

#footer {
	clear: both;
	margin-left: 40px;
	padding-top: 18px;
	padding-bottom: 30px;
}

#footer .home_disclaimer {
	margin-top: 40px;
	margin-left: 240px;
	width: 580px;
}

#footer a {
	text-decoration: none;
}

#footer span.blue {
	width: 240px;
	display: inline-block;
}

/* functions styles */
.pdf_link {
	position: absolute;
	left: 430px;
	top: 4px;
	width: 150px;
	text-align: right;
}

.pdf_link a {
	margin-left: 5px;
}

/* font styles */
h1 {
	font-size: 21px;
	line-height: 26px;
	font-weight: normal;
	color: #1f5883;
	padding-bottom: 15px;
	font-style: normal;
}

h1 .home {
	padding-top: 0px;
	padding-bottom: 20px;
}

h2 {
	font-size: 12px;
	line-height: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}

p {
	margin-bottom: 10px;	
}

.home p,
.home strong,
.home li,
.home a {
	font-size: 14px;
	line-height: 18px;
}

.blue {
	color: #1f5883;
}

.blue_bold {
	color: #1f5883;
	font-weight: bold;
}

.grey {
	color: #adb1b3;
}

.grey_bold {
	color: #adb1b3;
	font-weight: bold;
}

strong {
	font-weight: bold;
}

#main a  {
	color: #1f5883;
}

#main ul {
	margin-bottom: 10px;	
}

#main ul,
#mail li {
	list-style-position: outside;
	padding-left: 15px;
	list-style-image: url(bullet.png);
}

#main li {
	margin-bottom: 5px;
}

#main .testimonial p {
	margin-bottom: 5px;	
}

/* navigation styles */

#left ul,
#left li {
	list-style-type: none;
}

#left li {
	margin-bottom: 5px;
}

#left .level_2 li {
	margin-bottom: 0px;
}

#left a,
#left span.active {
	display: inline-block;
	padding-left: 15px;
	padding-bottom: 4px;
	min-width: 50px;
	text-decoration: none;
	font-weight: bold;
	background: url(bullet-navigation.png) no-repeat 0 5px;
}

#left .level_2 a,
#left .level_2 span {
	font-weight: normal;
	background: none;
}

#left a:hover,
#left a.trail,
#left span.active {
	color: #1f5883;
}

#left ul.level_2 {
	margin-bottom: 10px;
}

#left ul.level_3,
#left ul.level_4,
#left ul.level_5 {
	padding-left: 15px;
	margin-bottom: 5px;
}



/* clears */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0
}

* html .clearfix,*:first-child+html .clearfix {
	zoom: 1
}

.imageflow div.slider {
	background:url(slider.png) no-repeat;
}

.imageflow div.previous {
	background: url(button_left.png) top left no-repeat;
}
.imageflow div.next {
	background: url(button_right.png) top left no-repeat;
}

.imageflow div.caption {
	color: #1f5883;
	font-weight: normal;
	font-style: normal;
}


div#since.mod_article {
	position: absolute;
	border: none;
	top: -175px;
	left: 0px;
	z-index: 500;
	padding: 0;
	margin: 0;
}

div#since.mod_article div.ce_image {
	margin: 0;
	padding: 0;
	border: none;
}